<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-filepickerv2" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>FilePickerV2</name><js-module name="FilePickerV2" src="www/FilePickerV2.js"><clobbers target="FilePickerV2" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="FilePickerV2"><param name="android-package" value="cordova.plugin.filepickerv2.FilePickerV2" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml" /><source-file src="src/android/FilePickerV2.java" target-dir="src/cordova/plugin/filepickerv2/FilePickerV2" /></platform><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="FilePickerV2"><param name="ios-package" value="FilePickerV2" /></feature></config-file><source-file src="src/ios/FilePickerV2.m" /></platform></plugin>